<div class="home-container">
  <p-card header="AtípicoAI - Gestão Inteligente" class="home-card">
    <p class="home-description">
      Organize laudos, exames e receitas médicas com o apoio da Inteligência Artificial e integração segura com o Google Drive.
    </p>

    <button 
      pButton 
      class="p-button-raised p-button-lg google-login-btn"
      (click)="loginGoogle()">
      <span class="btn-content">
        <img class="google-icon" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google Logo"/>
        <span>Entrar com o Google</span>
      </span>
    </button>
  </p-card>
</div>
